<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block head %}
        <title>Base</title>
        {% endblock %}
    </head>

<body>
      <br>
      <div class="container"></div>
        <nav class="navbar navbar-default">
        <div class="container-fluid">  
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            {% if user.is_authenticated %}
            <a class="navbar-brand" href="">Project name</a>
            {% else %}
            <a class="navbar-brand" href="/">Project name</a>
            {% endif %}
          </div>


          <div id="navbar" class="navbar-collapse collapse">
            
            {% if user.is_authenticated %}
            
            <ul class="nav navbar-nav">
              <li class="active"><a href="edit"> Edit Profile </a></li>
              <li class="active"><a href="change-password"> Edit Password </a></li>
              <li class="active"><a href="logout">Log out </a></li>
            </ul>      

            {% else %}

            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="register"> Register </a></li>
            </ul>
           
            {% endif %}

            </div>
          </div><!--/.nav-collapse -->
         </nav>
        </div>

    {% block body %}
    {% endblock %}

</body>
</html>